.content-1,
.content-2 {
  background-color: #f8f8f8;
}
.detail-product {
  margin: 100px;
  background-color: white;
  height: 80%;
  border-radius: 5%;
}
.content1-p {
  margin: 50px;
}

.content2-p {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 25px;
  line-height: 138.84%;
  /* or 35px */

  letter-spacing: 0.03em;

  color: #6a4029;
}
.content2-p1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 138.84%;
  color: #6a4029;
}
.content2-p2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;
}

.content2-p1 {
  margin-left: 50px;
  margin-right: 50px;
}

.content2-p2 {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10%;
  text-align: center;
}
.img-product {
  height: 70%;
  margin-left: 30%;
}
.title-detail {
  text-align: center;
}
.add-cart,
.add-cart2 {
  padding-top: 2%;
  text-align: center;
  width: 30%;
  background-color: antiquewhite;
}

.buttom {
  margin: 50px;
}
.buttom1,
.buttom2 {
  padding-top: 10px;
}
.method-choice {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.method-buttom {
  background-color: #ffba33;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  left: 807px;
  top: 772px;
  color: #000000;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
.delivery-method,
.delivery-method {
  display: flex;
}

/* Payment-delivery */
.delivery-method-1 {
  margin-top: 10%;
}
.bg {
  background-image: url("bg/bg-payment.png");
}
.title-1 {
  margin-top: 10%;
  margin-left: 10%;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.box-order-sumary {
  margin-top: 6%;
  margin-left: 20%;
  background-color: white;
  width: 487px;
  height: 737px;
  left: 153px;
  top: 332px;
  border-radius: 20px;
}
.title-order-p {
  position: absolute;
  height: 20px;
  left: 251px;
  margin-top: 5%;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  /* identical to box height */

  color: #362115;
}
.product-order {
  justify-content: space-between;
}
.title-method {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
/* .method-buttom-1 {
  background: #f4f4f8;
  border: 1px solid rgba(186, 186, 186, 0.35);
  box-sizing: border-box;
  border-radius: 10px;
} */
.method-choice-1 {
  justify-content: space-evenly;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
