.content-1,
.content-2 {
  background-color: #efecec;
  padding-right: 0;
  height: 200%;
}
.detail-product {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  height: 300%;
  width: 60%;
  border-radius: 5%;
}
.content1-p {
  margin: 50px;
}

.menu-detail {
  height: 600px;
  width: 50%;
  background-color: red;
  padding: 2% 40px 0% 40px;
  justify-content: center;
}
.content2-p {
  margin-left: 30px;
  padding-right: 30%;
  padding-top: 30px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 25px;
  line-height: 138.84%;
  /* or 35px */

  letter-spacing: 0.03em;

  color: #6a4029;
}
.content2-p1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 138.84%;
  color: #6a4029;
}
.content2-p2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;
}

.content2-p1 {
  margin-left: 50px;
  margin-right: 50px;
}

.content2-p2 {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10%;
  text-align: center;
}
.img-product {
  display: flex;
  height: 70%;
  justify-content: center;
}
.title-detail {
  text-align: center;
}
.add-cart,
.add-cart2 {
  padding-top: 2%;
  text-align: center;
  width: 30%;
  background-color: antiquewhite;
}

.buttom {
  margin: 50px;
}
.buttom1,
.buttom2 {
  padding-top: 10px;
}
.method-choice {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}
.method-buttom {
  background-color: #ffba33;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  left: 807px;
  top: 772px;
  color: #000000;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
.delivery-method,
.delivery-method {
  display: flex;
}

/* Payment-delivery */
.delivery-method-1 {
  background-color: #bcbaba;
}
.bg {
  background-image: url("bg/bg-payment.png");
}
.title-1 {
  margin-top: 10%;
  margin-left: 10%;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.box-order-sumary {
  margin-top: 6%;
  margin-left: 20%;
  margin-bottom: 20%;
  background-color: white;
  width: 487px;
  height: 730px;
  left: 153px;
  top: 332px;
  border-radius: 20px;
}
.title-order-p {
  position: absolute;
  height: 20px;
  left: 251px;
  margin-top: 5%;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  /* identical to box height */

  color: #362115;
}
.product-order {
  justify-content: space-between;
}
.title-method {
  padding-top: 5%;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.method-buttom-1 {
  background: #f4f4f8;
  border: 1px solid rgba(186, 186, 186, 0.35);
  box-sizing: border-box;
  border-radius: 10px;
  width: 150px;
  height: 50px;
}
.method-choice-1 {
  background-color: #efecec;
  justify-content: center;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}
.method-choice-2 {
  background-color: #efecec;
  justify-content: center;
  margin-top: 5%;
  padding-bottom: 31%;
  display: flex;
  justify-content: space-evenly;
  height: 30%;
}
.title-product-1 {
  margin-top: 5%;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  text-align: center;

  color: #000000;
}
.buttom-title-p,
.buttom-title-p2 {
  display: flex;
  margin-bottom: 3%;
  justify-content: center;
}

.buttom-title-p {
  padding-top: 7%;
}
.buttom-title-p2 {
  padding-bottom: 25%;
}
.b-1 {
  background: #6a4029;
  border: 1px solid rgba(186, 186, 186, 0.35);
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;

  color: #ffffff;
}
.b-2 {
  background: #ffba33;
  border: 1px solid rgba(186, 186, 186, 0.35);
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: #6a4029;
}
.box-middle {
  display: flex;
  justify-content: center;
}
